In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from config import api_key

In [ ]:
# Specify the URL

request = requests.get("https://mcuapi.herokuapp.com/api/v1/movies")
request_text = request.text
data = json.loads(request_text)
#print(data)
print(data["data"][3]["title"])
print(data)

In [ ]:

title = [] 
box_office = []
for movies in range(0,28):
    title.append(data["data"][movies]["title"])    
    box_office.append(data["data"][movies]["box_office"])
    
    
print(box_office)

In [122]:
movies_list = pd.DataFrame({"Title": title,
                            "Box office": box_office,
                            
})   

movies_list.index.name =  "Index"
movies_list

                                             Title  Box office
Index
0                                         Iron Man   585171547
1                              The Incredible Hulk   265573859
2                                       Iron Man 2   621156389
3                                             Thor   449326618
4               Captain America: The First Avenger   370569776
5                                     The Avengers  1517935897
6                                       Iron Man 3  1215392272
7                             Thor: The Dark World   644602516
8              Captain America: The Winter Soldier   714401889
9                          Guardians of the Galaxy   770867516
10                         Avengers: Age of Ultron  1403013963
11                                         Ant-Man   518858449
12                      Captain America: Civil War  1140069413
13                                  Doctor Strange   676404566
14                  Guardians of the Galaxy Vol. 2   862316233
15                          Spider-Man: Homecoming   880166350
16                                  Thor: Ragnarok   846980024
17                                   Black Panther  1348258224
18                          Avengers: Infinity War  2048134200
19                            Ant-Man and The Wasp   623144660
20                                  Captain Marvel  1126129839
21                               Avengers: Endgame  2795465685
22                       Spider-Man: Far From Home  1123901180
23                                     Black Widow           0
24                                    The Eternals           0
25       Shang-Chi and the Legend of the Ten Rings           0
26     Doctor Strange in the Multiverse of Madness           0
27                          Thor: Love and Thunder           0

In [1]:
movies_list.index.name =  "Index"
movies_list

NameError: name 'movies_list' is not defined